@import "dist/bower_components/bourbon/app/assets/stylesheets/_bourbon.scss";
@import "dist/bower_components/neat/app/assets/stylesheets/_neat.scss";
@import "dist/bower_components/bitters/app/assets/stylesheets/_base.scss";
@import url(http://fonts.googleapis.com/css?family=Great+Vibes);

a {
    color: #EEA61C;
    font-weight: bold;
}

a:hover {
  color: darken(#EEA61C, 5%);
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Helvetica Neue', sans-serif;
  background-color: #A1A1A1;
}

.wrapper {
  @include outer-container(80%);
  border-radius: 6px;
}

main {
  @include span-columns(12);
  padding: 25px 0;
  text-align: center;
  img {
    width: 350px;
  }
  h3 {
    font-family: 'Great Vibes', cursive;
    font-size: 56px;
  }
  p {
    @include span-columns(8 of 12);
    @include shift(2);
  }

}

.skills {
  @include span-columns(8 of 12);
  @include shift(2);
  .collapse-card {
    position: relative;
    overflow: hidden;
    background-color: lighten(#A1A1A1, 15%);
    border-bottom: 1px solid #A1A1A1;
  }
  .collapse-card__body {
    padding-top: 0;
  }

  .collapse-card__title {
    i {
      margin-right: 10px;
    }
  }

  .example {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    position: absolute;
    top: 20px;
    right: 25px;
    border: 1px solid gray;
  }
  h4 {
    color: darken(#EEA61C, 2%);
  }
  ul {
    font-size: .9em;
    padding: 0 20px;
  }
  li {
    list-style: circle;
  }

  h5 {
    font-weight: normal;
    font-size: .9em;
    margin: 5px 0;
  }
}

.about-me {
  @include span-columns(8 of 12);
  @include shift(2);
}



footer {
  text-align: center;
  @include span-columns(12);
  margin: 20px 0;

  .all-icons {

    & a {
      margin: 5px;
      padding: 5px;
    }
  }
}

@media (max-width: 1030px) {
  .skills .example {
    width: 75px;
    height: 75px;
    border-radius: 50px;
  }
}

@media (max-width: 930px) {
  .skills .example {
    width: 60px;
    height: 60px;
    border-radius: 50px;
  }
}

@media (max-width: 768px) {
  .skills .example {
    display: none;
  }
}
